.informacionCelular>h1{
    color: #432B18;
    text-align: center;
    font-family: ABeeZee;
    font-size: 96px;
    font-style: normal;
    font-weight: bolder;
    line-height: 130%;
    letter-spacing: -0.96px;
    margin: 7px;
}
.informacionCelular>p{
color: #432B18;

text-align: center;
font-family: ABeeZee;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 62.4px */
letter-spacing: -0.48px;
}
.informacionCelular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 711px;
    height: 361px;
}
.cont-infocel{
    background: #FAF1DB;
    width: 100%;
    HEIGHT: 729PX;
    DISPLAY: FLEX;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}