.subtitulo{
    font-size: 27px;
    color: #432B18;
    text-align: center;
    margin: 0;
}
p{
    font-size: 16px;
    color: #432B18;
    text-align: initial;
    margin: 0;
}
.centrarParrafo{
    text-align: center;
}