.roles-section {
  width: 95%;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.fondo{
  background-size: 1280px 1024px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.roles-section h1 {
  color: #3f1e1e;
  text-align: center;
  text-shadow: 3px 7px 11px rgba(0, 0, 0, 0.25);
  font-family: ABeeZee;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.96px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.roles-section h3 {
  color: #3f1e1e;
  text-align: center;
  font-family: ABeeZee;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}

.roles-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.role {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  min-height: 100%;
}

.roles-container h2 {
  color: #3f1e1e;
  text-align: center;
  font-family: ABeeZee;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.48px;
  margin-bottom: 20px;
}

.role-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-content img {
  filter: drop-shadow(3px 7px 11px rgba(0, 0, 0, 0.25));
  width: 214px;
  height: 213px;
}

.role-content p {
  color: #3f1e1e;
  font-family: ABeeZee;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.4px;
  text-align: center;
  margin-top: 20px;
}
