.input_acronimo{
    border-radius: 23px;
    height: 30px;
    border-color: #523115;
    background: #FED158;
    font-size: 29px;
    width: 170px;
    color: #523115;
    padding: 5px 2px 5px 10px;
}
.mensajeError{
    font-size: 11px;
    color: red;
    font-weight: 500;
    margin-top: 4px;
}

.info_juegoAntropologoTitulo{
    font-size: 31px !important;
    margin-top: 74px;
}
.verde {
    color: green;
}

.rojo {
    color: red;
}
.tituloAntropologo{
margin: 0 !important;
font-size: 31px !important;
}
.btnAntropologo{
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
}
.textoAcronimo{
    -webkit-text-stroke: 1px #523115;
    font-size: 35px;
    margin: 9px;
    color: #523115;
    font-family: 'ABeeZee', sans-serif;
}
.contenedorAcronimo{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-animation {
    animation: shake 0.3s ease-in-out 5 alternate;
    border: 1px solid red;
}

/* Definición de la animación de temblor */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.input-success {
    box-shadow: 0 0 10px #00ff00; /* Cambia el color y el tamaño del resplandor según tus preferencias */
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #00ff00;
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: 0 0 10px #00ff00;
    }
    60% {
        box-shadow: none;
    }
    80% {
        box-shadow: 0 0 10px #00ff00;
    }
    100% {
        box-shadow: none;
    }
}




